<template>
  <v-app>
    <v-container>
        <page-title :msg="msg" />
        <sample-grid />
    </v-container>
  </v-app>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

import SampleGrid from './SampleGrid.vue';
import PageTitle from './PageTitle.vue';

@Component({
  components: { SampleGrid, PageTitle }
})
export default class HomePage extends Vue {
    @Prop() private msg!: string;
  
}
</script>